= simple_form_for(@goods_commitment) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .div class="col m12 tb-mrgn-10"
    .form-inputs
      .div class="col m3 s12"
        = f.input :name, label: "Name*"
      .div class="col m3 s12"
        = f.input :email, label: "Email*"
      .div class="col m2 s12"
        = f.input :phone_code, as: :select, collection: load_code.map{ |x| ["#{x[:_name]}(+#{x[:_phone_code]})", x[:_phone_code]]},
                selected:91, placeholder: "91", label: "Country Code*", input_html: {id: "country_code"}
      .div class="col m2 s12"
        = f.input :phone_number, placeholder:"9741211213", label: "Phone Number*"
      .div class="row col m2 s12"
        = f.input :available_from, input_html: {class: 'datepicker'}, label: "Delivery Date"

      .div class="clearfix"

      .div class="row col m2 s12"
        = f.association :district, label: "District", input_html: {id: 'district'}
      .div class="row col m3 s12"
        = f.association :area, label: "Area", input_html: {id: 'area'}
      .div class="col m3 s12"
        = render partial: "layouts/location", locals:{ loc:f }


    .div class="col m12 tb-mrgn-10 center s12"
      h5 AVAILABLE ITEMS
    .div class="col m12 s12 is-no-lr-pad"
      = f.simple_fields_for :inventories do |inventory|
        = render 'inventory_fields', f: inventory
    .div class="col m12 s12 is-no-lr-pad"
      .links class="button btn btn-primary white" style="margin-left:3%;float:left;"
        = link_to_add_association 'Add NewItem', f, :inventories

    .div class="row col m12 center tb-mrgn-10 s12 submitButton"
      .form-actions
        = f.button :submit, "SUBMIT"
javascript:
  function manageClickActions(){
      $("#district").change(function (event, data) {
          var selectedVal = parseInt(event.target.value);
          var areas = window.SupplyTracker.data.areas.filter(function (area) {
              return area.district_id === selectedVal
          });

          var $el = $("#area");
          $el.empty(); // remove old options
          $.each(areas, function (key, area) {
              $el.append($("<option></option>")
                  .attr("value", area.id).text(area.name));
          });
          $el.formSelect();
      });


      $(".itemCategory").change(function (event, data) {
          var selectId = event.target.id;
          var index = selectId.split("goods_commitment_inventories_attributes_")[1].split("_")[0];
          var targetItemTypeId = "#goods_commitment_inventories_attributes_" + index + "_item_type_id";

          var selectedVal = parseInt(event.target.value);
          var itemTypes = window.SupplyTracker.data.item_types.filter(function (itemType) {
              return itemType.item_category_id === selectedVal
          });

          var $el = $(targetItemTypeId);
          $el.empty(); // remove old options
          $el.append($("<option></option>")
              .attr("value", "").text("Add New"));
          $.each(itemTypes, function (key, area) {
              $el.append($("<option></option>")
                  .attr("value", area.id).text(area.name));
          });
          $el.formSelect();
      });

      $(".itemType").change(function (event, data) {
          var selectId = event.target.id;
          var index = selectId.split("goods_commitment_inventories_attributes_")[1].split("_")[0];
          var targetItemTypeId = "#goods_commitment_inventories_attributes_" + index + "_item_type_name";

          var $el = $(targetItemTypeId);

          if (event.target.value) {
              $el.val("");
              $el.parent().parent().css("display", "none")
          } else {
              $el.parent().parent().css("display", "block")
          }
      });
  }
  $(document).ready(function () {
      manageClickActions();
      $("#country_code").val("91");
      $('#country_code').formSelect();
      $('form').on('cocoon:after-insert', function (e, insertedItem) {
          $('select').formSelect();
          // $('select').select2({width: "100%"});
          manageClickActions()
      });

  });